.contact-item {
    list-style-type: none;
    line-height: 200%;
    display: flex;
    flex-wrap: wrap;

    &__title,
    &__phone,
    &__email,
    &__link {
        margin: 0 10px 0 0;
        display: inline;
        text-decoration: none;
    }
    &__phone,
    &__email {
        cursor: pointer;
        color: #595e81;
        &:hover {
            color: #db545a;
            text-decoration: none;
        }
    }
    &__link:hover {
        color: #db545a;
    }
}

.address__list {
    padding: 0;
}