.main-content {
    background-color: #E5E5E5;
    padding: 50px 0 50px 0;
    &__container {
        margin: 0 auto;
        max-width: 1140px;
        background-color: white;
        padding: 20px;
        border-radius: 30px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    }
    h2,
    h3 {
        color: rgb(53, 53, 53);
        margin-bottom: 20px;
    }
    h3 {
        margin-top: 30px;
    }
    p {
        line-height: 1.8;
    }
}