.footer {
    background-color: white;
    &__container{
        padding: 40px 0 0 0;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1140px;
        min-height: 200px;
        gap: 30px;
        color: rgb(53, 53, 53);
    }
    &__services {
        display: flex;
        gap: 30px;
        &-title {
            margin-bottom: 20px;
        }
        &-list {
            margin-bottom: 30px;
        }
        &-info {
            color: #595e81;
            margin-bottom: 30px;
        }
        &-item-link {
            text-decoration: none;
            color: #595e81;
            &:hover {
                color: #db545a;
            }
        }
        &-list {
            list-style-type: none;
            padding: 0;
            line-height: 2rem;
            color: #595e81;
        }
    
    }   

    &__end {
        margin: 20px auto;
        max-width: 1140px;
    }
    &__c {
        text-align: center;
    }
}


@media (max-width: 1140px) {
    .footer__container {
        flex-direction: column;
        margin-left: 50px
    }
}

.warning-text {
	margin-top: 20px;
	background-color: rgb(245, 245, 235);
}